<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aiv.Draw.OpenGL" version="0.2" targetFramework="net45" />
  <package id="Aiv.OpenTK" version="0.1.1" targetFramework="net45" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net45" />
  <package id="SharpGL.WinForms" version="2.4.0.0" targetFramework="net45" />
</packages>